services:
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    # ここにRailsを起動するコマンドを明示的に追加します
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    tty: true
    stdin_open: true